@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/footer.css");
@import url("components/card.css");
@import url("components/form.css");
@import url("components/dateform.css");


body {
  margin: 0;
  font-family: Open-sans, sans-serif;
}
h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
}
h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 0;
}
.padded {
  padding: 100px 0;
}
.wrapper-grey {
  background: #F4F4F4;
}

/*.list-features {
  margin-top: 100px;
}*/

.list-features img {
  height: 100px;
  width: 100px;
}

.feature-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
}

.feature-wrapper li {
  padding-left: 50px;
  padding-right: 50px;
}

.top-nav {
  position: relative;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
}

.logo:link {
  position: relative;
  color: #484848;
  display: inline-block;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  float: left;
}

.logo img {
  position: relative;
  padding: : : 12px 18px;
  vertical-align: middle;
  border-right: 1px solid #ccc;
}

/* Nav search */

.top-nav ul {
  float: right;
  margin: 16px 0;
}

.top-nav ul li {
  display: inline-block;
  margin: 0 30px;
}

.top-nav ul li a:link {
  color: #484848;
  font-size: 14px;
}

.top-nav ul li a:visited {
  color: #484848;
}

.btn {
  margin: 10px;
}

.btn-primary {
  background-color: #caa842;
  border-color: #ccbf98;
}

.form-control {
  width: 50%;
}