/* Activity description design */
/* Your card CSS code here */
.container-desc {
  margin: 0 auto;
  text-align: left;
  position: relative;
}

.wrapper-desc {
  background-color: #F4F4F4;
  padding-top: 120px;
  padding-bottom: 120px;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 50;
}